body {
  font-family: "Courier New", Courier, monospace;
  margin: 2em;
}

ul {
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  padding: 2em;
}

h4,
input {
  margin-bottom: 2.5em;
  height: 2em;
}

h4 > a {
  color: brown;
}
